AdjListPractice/AdjListPractice.sln
AdjListPractice/AdjListPractice.VC.db
AdjListPractice/AdjListPractice.VC.VC.opendb
AdjListPractice/.vs/AdjListPractice/v14/.suo
AdjListPractice/AdjListPractice/AdjListPractice.vcxproj
AdjListPractice/AdjListPractice/AdjListPractice.vcxproj.filters
